.button {
    @apply whitespace-nowrap;
	transform: scale(1);
	filter: brightness(0.95);
}

.button:disabled {
	@apply bg-light-disable text-disable;
	cursor: default;
	pointer-events: none;
}

.button:hover {
	transform: scale(1.02);
	filter: brightness(1);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
}

.button:active {
	transform: scale(1);
	filter: brightness(0.9);
	box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .25);
}

.button__loading {
    border-radius: 50%;
    display: inline-block;
    border-top: 2.5px solid;
    border-left: 2.5px solid;
    border-right: 2.5px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
